body {
  background: url(/home/typhon/Documents/RoninGraphix/images/HOMEPAGE2.png);
  background-position: top, center;
  background-repeat: no-repeat;
  background-color: #333333;
}
button {
  background: none;
  border: none;
}
nav {
  display: inline-block;
  margin-left: 550px;
  margin-top: 325px;
}
#rsDialog {
  background-color: #0D333333;
}
#contactBtn {
  margin-top: 275px;
}
#resumeBtn {
  margin-top: 325px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: #0D333333;
}

.modal-content {
  text-align: center;
  background-color: #0D333333;
  margin: 15% auto;
  padding: 0;
  border: none;
  width: 50%;
  height: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
